
/* Main custom styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    /*font-size: 15px;*/
    /*background-color: #e7e7eb;*/
    background-color: #e7e7eb;
    /*Necessary for fixed nav*/
    min-height: 1200px;
    padding-top: 80px;
    /*Necessary for sticky footer*/
    padding-bottom: 213px;
}

h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 100;
    font-size: 55px;
}

/*.no-lr-pad {
    padding-left: 0;
    padding-right: 0;
}*/

/* Nav styles
-------------------------------------------------- */

.nav-jd {
    height: 80px; /*remember to change body padding-top to match*/
    background-color: rgba(231,231,235,0.9);
    padding-right: 0;
    padding-left: 0;
    max-height: 340px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    font-size: 18px;
    font-weight: 300;
    color: #333399;
}

.nav-link {
    padding-top: 25px;
}

a.site-nav {
    color: #333399;
    text-decoration: none;
}

.icon-nav-link {
    font-size: 14px;
}

.menu-icon {
    font-size: 25px;
}

.menu-position {
    padding-top: 10px;
}

.logo-area {
    padding-top: 15px;
}

.jd-logo {
    width: 50px;
    height: 50px
}


/* Main content styles
-------------------------------------------------- */

.feature {
    min-height: 400px;
}

.feature-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.feature-img-desktop {
    background-image: url(../img/desktop-view.jpg);
}

.indigo {
    background-color: #221c35;
}

.maroon {
    background-color: #85144b;
}

.red {
    background-color: #e83944;
}

.form-area {
    height: 650px;
}



/* Sticky footer styles
-------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 55px;
}

.social-block {
    padding-top: 40px;
    margin: 0;
}

.social-block ul li a {
    font-size: 34px;
    color: #96969a;
    margin: 0;
}

.social-block ul li a:hover {
    color: #606064;
}

.social-block ul li a:active {
    color: #333399;
}

ul#social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

ul#social li {
    display: inline;
    padding-right: 15px;
}

ul#social li:last-child {
    padding-right: 0;
}

.site-desc, .site-info {
    margin: 0;
    color: #96969a;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.site-desc {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.site-info {
    padding-top: 10px;
}

.sub-footer {
    height: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*.sub-footer > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}*/

#indigo-bar, #blue-bar, #purple-bar, 
#fuchsia-bar, #red-bar, #maroon-bar {
    height: 10px;
}

#indigo-bar {
    background-color: #221c35;
}

#blue-bar {
    background-color: #333399;
}

#purple-bar {
    background-color: #673ab7;
}

#fuchsia-bar {
    background-color: #b10dc9;
}

#red-bar {
    background-color: #e83944;
}

#maroon-bar {
    background-color: #85144b;
}










