html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 1.5;
    position: relative;
    color: #222;
    background: #EAF4F0;
}

.error {
    color: #85144b;
}

.submit {
    background: none;
    font-family: Georgia, serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    padding: 0.75em;
    border: 1px solid #3D9970;
    color: #3D9970;
    cursor: pointer;
}

.submit:hover,
.submit:active,
.submit:focus {
    border-color: #222;
    color: #222;
}

#descErr {
    float: left;
    display: block;
    margin-top: .3875em;
}

#textarea {
    overflow: hidden;
}

.bar {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 0;
    height: 0.5em;
    background: #222;
}

.container {
    width: 95%;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

section#main {
    padding-top: 0.5em;
    padding-bottom: 40em;
}

section#form {
    height: 40em;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

section#form h2 {
    padding-top: 1em;
}

*:focus {
    outline: none;
}

input {
    border: none;
}

textarea {
    display: inline-block;
    resize: none;
    float: left;
    margin-right: 0.325em;
}

input, textarea {
    border: 1px solid #C2DFD2;
    font-family: Georgia, serif;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}

form input[type=text]:focus, textarea:focus {
    outline: 1px solid #89C1A8;
}

section h1 {
    font-size: 2em;
}

section#main table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

section#main tbody tr:first-child {
    border-top: 1px solid #ccc;
}

section#main tbody tr {
    border-bottom: 1px solid #D5E9E0;
}

section#main tbody tr:last-child {
    border-bottom: none;
}

section#main td, 
section#main th {
    padding: 0.75em 1em 0.875em 1em;
    border-right: 1px dotted #aaa;
}

section#main td:last-child,
section#main th:last-child {
    border-right: none;
}

section#main th {
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.stripe {
    background-color: #D5E9E0;
}

section#main tbody tr:nth-child(odd) {
    background-color: #D5E9E0;  
}

nav {
    position: absolute;
    width: 100%;
    top: 1.5em;
    right: 0;
    text-align: right;
}

ul, ol {
    list-style: none;
}

#prev:after,
#next:before {
    content: ' | ';
    color: #222;
}

ul.page {
    padding-top: 1.5em;
}

.page {
    margin: 0;
    padding: 0;
}

.page li {
    list-style: none;
    display: inline-block;
}

.page li a, .current {
    padding: 0 0.313em 0 0.313em;
}

.page li a:link,
.page li a:visited {
    text-decoration: none;
    color: #3D9970;
}

.page li a:hover {
    color: #444;
}

.current {
    font-weight:bold;
    color: #222;
}

.no-results:first-child {
    text-align: left;
}

/* Date Picker
----------------------------------------------- */

#ui-datepicker-div {
    font-size: 85%;
}

.ui-widget-header {
    background: none;
    border: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #3D9970;
}


